<% content_for :title do %>About<% end %>

<section id="page">
	
	<div class="row">

		<div class="large-3 columns">
			<img id="profile" src="" alt="">
		</div>

		<div class="large-9 columns">
			<strong>Name (click to view profile)</strong>
			<a id="link" target="_blank" href=""><p id="name"></p></a>
			<strong>Email</strong>
			<p><a href="#" target="_blank" id="email"></a></p>
			<strong>Gender</strong>
			<p id="gender"></p>
			<strong>Age Range</strong>
			<p id="ageRange"></p>
			<strong>Likes</strong>
			<ul id="likes"></ul>
		</div>

	</div>

</section>	<!-- end page -->

