<% content_for :title do %>About<% end %>

<h3>About the Website</h3>

<p>
	This web application was created with
	<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
	from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
</p>

<br>
<br>
<br>
<br>
<br>

<div class="row">
	<div class="large-12 columns">
		<h1 id="name"></h1>
		<img id="profile" src="" alt="">
	</div>
</div>